<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VillaWewersbusch-App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F89E5A21EAF246200881848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F89E5B61EAF246300881848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F89E5C11EAF246300881848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
